* {
    box-sizing: border-box;
}

$darkblue: #3F7497;
$lightblue: #A8CEEC;
$lightorange: #F69728;
$darkbrown: #310702;



/*colors
dark blue #224050
light blue #CEDADA
orange #E9834B
yellow #FAE665
*/



body {
    font-family: 'Alegreya Sans', sans-serif;
    background-color: $lightblue;
    animation: pulse 5s;
}

@keyframes pulse {
  0% {
    background-color: $darkbrown;
  }
  100% {
    background-color: $lightblue;
  }
}

a {
    color: $lightblue;
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    min-width:60vw;
    margin-left: auto;
    margin-right: auto;
    background-color: $lightblue;
}
@media screen and (min-width:800px) {
    .container {
        width: 80%;
    }
}
.navbar {
    display: flex;
    flex-grow: 1;
    min-width: 60vh;
    margin: 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: $lightblue;
    text-align: center;
    color: $lightblue;
    // border: solid black;
    list-style-type: none;
}

@media screen and (min-width:800px) {
    .navbar {
        flex-direction: row;
    }
}

.links {
    background-color: $darkbrown;
    width: 100%;
    padding: .6rem;
    font-size: 1.3rem;
    align-self: center;
    // margin-left: -1.2em;
    list-style-type: none;
    // border: solid black
}

.highlight {
    // background-color: $darkblue;
    // width: 100%;
    // padding: .6rem;
    // font-size: 1.3rem;
    // margin: 2px;
    // align-self: center;
    // // margin-left: -1.2em;
    // list-style-type: none;
    opacity: .5;
    
}


#jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-width: 60vh;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url('/assets/alcazar.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;   
    height: auto;
    align-items: center;
    text-align: center;
    padding: 40px 0px;
    // border-radius: 25px;
}

@media screen and (min-width:800px) {
    #jumbotron {
        height: 90vh;
    }
}
#tagline {
    min-width: 60vh;
    align-self: center;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    animation: scale 10s 5s;
    transform: scale(1);
    animation-direction: right;
    opacity: .7;
}

@keyframes scale {
  0% {
    transform: scale(.2);

  }
  100% {
    transform: scale(1);
  }
}
    // border: solid black;

#logo {
    height: 40px;
    margin: -13px;
    display: inline-block;
    padding: 0 0;
}



h1{
    font-family: 'Alegreya', serif;
    font-size:5rem;
    font-weight: 800;
    margin-top: 0px;
    padding-top: 0px;   
    background-color: $lightorange;
    opacity: .7; 
    transform: scale(1);
    animation: scale 8s;
}
@keyframes scale {
        0% {
          transform: scale(.5);
      
        }
        100% {
          transform: scale(1);
        }
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size:3rem;
    min-width: 60vh;
    color: $lightorange;
    text-align: center;
    background-color: $darkblue;
    opacity: .7;
}

h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size:3rem;
    min-width: 50vh;
    color: $lightorange;
    text-align: left;
    // background-color: $darkblue;
    opacity: .7;
}

h4 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size:3rem;
    min-width: 50vh;
    color: $lightorange;
    text-align: right;
    // background-color: $darkblue;
    opacity: .7;
}

h5 {
    font-size: 2.5em;
    margin: 1em;
}

.text {
    font-size: 1em;
    color:white;
    text-align: center;
}

.fourboxes {

    display: flex;
    width: 70%;
    flex-wrap: nowrap;
    min-width: 60vh;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
    margin-left: auto;
    margin-right: 0;
    margin-top: 2em;
    // background-color: #224050;
    margin: auto;
}

.boxes {
    // border: solid black;
    // min-width: 40vh;
    padding: 20px;
    // background-color: $darkblue;
    border-radius: 25px;
    margin: 2em 2em;
    // text-align: center;
    // width: 40%;

}
.projectcontainer {
    display: flex;
    min-width: 60vh;
    // height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #224050;
    padding: 1em;
    // border: solid black;
    // border-radius: 25px;
}

.heading {
    color: $lightorange;
    text-align: center;
    display: block;
    // min-width: 50vh;
    font-size: 2em;
    flex: 1;
    // border: solid black;
    // margin: 1em 1em;
}

.text {
    color: $lightblue;
    text-align: center;
    display: block;
    min-width: 50vh;
    font-size: 1.5em;
    flex: 1;
    // padding: 0 1em;
    // border: solid black;
    // margin: 1em 1em;
}

.container2 {
    height: 80px;
    min-width: 60vh;
    padding: 5px;
    margin: 1em auto;
    display: flex;
    flex-flow: row;
    flex: 1;
    justify-content: space-between;
}
.item1 {
    align-content: center;
    color: #FAE665;
    background-color: black;
    font-size: 160%;
    width: 100px;
    margin: 4px;
    padding: 1rem;
    border-radius:25px 0 0 25px; 
}

.item2 {
    background-color: $lightorange;
    font-size: 200%;
    width:40%;
    margin: 4px;
    padding: 1rem;
    flex: 1;
    flex-shrink: 1;
}
#item3 {
    background-color: #224050;
    font-size: 200%;
    width:100px;
    margin: 4px;
    padding: 1rem;
    // flex: 1;
    align-items: flex-end;
    border-radius:0 25px 25px 0;
}

#item4 {
    background-color: #224050;
    font-size: 200%;
    width:200px;
    margin: 4px;
    padding: 1rem;
    // flex: 1;
    align-items: flex-end;
    border-radius:0 25px 25px 0;
}

#item5 {
    background-color: #224050;
    font-size: 200%;
    width:50%;
    margin: 4px;
    padding: 1rem;
    // flex: 1;
    align-items: flex-end;
    border-radius:0 25px 25px 0;
}

#item6 {
    background-color: #224050;
    font-size: 200%;
    width:150px;
    margin: 4px;
    padding: 1rem;
    // flex: 1;
    align-items: flex-end;
    border-radius:0 25px 25px 0;
}
#item7 {
    background-color: #224050;
    font-size: 200%;
    width:350px;
    margin: 4px;
    padding: 1rem;
    // flex: 1;
    align-items: flex-end;
    border-radius:0 25px 25px 0;
}
.portfolio {
    min-width:60vh;
    background-color:#224050;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    border-radius: 25px;
}
.about {
    display: flex;
    min-width: 60vh;
    height: fit-content;
    // background-color:#224050;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: 25px;
    color: white;
    padding: 1em;

    .bear {
        width: 50%;
        height: 250px;
        background-image: url(../assets/bear.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 20px;
    }

    .beartext {
        width: 50%;
        font-size: 1.5em;
        margin: 1em;
    }
}

.buckets {
    width: 33%;
    // border: solid black;
    margin: 2em 2em;
    color: white;
}


.form {
   min-width: 60vh;
    display: flex;
    background-color: #224050;
    border-radius: 25px;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    margin: 1em auto;
    color:$lightorange;
}
.formleft {
    display: flex;
    flex-direction: column;
    // border: solid black;
    text-align: center;
}

.formright {
    display: flex;
    flex-direction: column;
    // border: solid black;
    text-align: center;
}

.formfield {
    margin: 1em 1em;
    width: 80;
}

.submit {
    margin-top: 2em;
    width: 100px;
    align-self: center;
    background-color:$lightorange;
}

.textbox {
    margin: 1em 2em;
    width: 200px;
    height: 100px; 
}

.follow {
    display: block;
    background-image: url('/assets/social.jpg');
    background-size: contain;
    background-position: center;
    min-width: 60vh;
    min-height: 30vh;
    background-repeat: no-repeat;
    margin: 0;
    opacity: .9;

    #nicetomeetyou {
        min-width: 60vh;
    }
}

.rainy {
	animation: rainy 5s ease-in-out infinite 2s;
    
    background: #CCCCCC; 
	border-radius: 50%;
	box-shadow: 
		#CCCCCC 65px -15px 0 -5px, 
		#CCCCCC 25px -25px, 
		#CCCCCC 30px 10px, 
		#CCCCCC 60px 15px 0 -10px, 
		#CCCCCC 85px 5px 0 -5px;
	display: block;
	height: 60px;
    width: 60px;
    // margin-left: -5em;
}
.rainy:after {
	animation: rainy_shadow 5s ease-in-out infinite 1s;
	background: #000000;
	border-radius: 50%;
	content: '';
	height: 15px;
	width: 120px;
	opacity: 0.2;
	position: absolute;
	left: 5px; 
	bottom: -60px;
	transform: scale(1);
}
.rainy:before {
	animation: rainy_rain .7s infinite linear;
	content: '';
	background: #CCCCCC;
	border-radius: 50%;
	display: block;
	height: 6px;
	width: 3px;
	opacity: 0.3;
	transform: scale(.9);
}
@keyframes rainy {
	50% { transform: translateY(-20px); }
}
@keyframes rainy_shadow {
	50% { transform: translateY(20px) scale(.7); opacity: 0.05; }
}
@keyframes rainy_rain {
	0% {  
		box-shadow: 
			rgba(0,0,0,0) 30px 30px, 
			rgba(0,0,0,0) 40px 40px,  
			#000 50px 75px, 
			#000 55px 50px, 
			#000 70px 100px, 
			#000 80px 95px, 
			#000 110px 45px, 
			#000 90px 35px; 
	}
	25% {  
	  	box-shadow: 
			#000 30px 45px,
			#000 40px 60px,
			#000 50px 90px,
			#000 55px 65px,
			rgba(0,0,0,0) 70px 120px,
			rgba(0,0,0,0) 80px 120px,
			#000 110px 70px,
			#000 90px 60px;
	}
	26% {  
		box-shadow:
			#000 30px 45px,
			#000 40px 60px,
			#000 50px 90px,
			#000 55px 65px,
			rgba(0,0,0,0) 70px 40px,
			rgba(0,0,0,0) 80px 20px,
			#000 110px 70px,
			#000 90px 60px; 
	}
	50% { 
		box-shadow:
			#000 30px 70px,
			#000 40px 80px,
			rgba(0,0,0,0) 50px 100px,
			#000 55px 80px,
			#000 70px 60px,
			#000 80px 45px,
			#000 110px 95px,
			#000 90px 85px;
	}
	51% {
		box-shadow:
			#000 30px 70px,
			#000 40px 80px,
			rgba(0,0,0,0) 50px 45px,
			#000 55px 80px,
			#000 70px 60px,
			#000 80px 45px,
			#000 110px 95px,
			#000 90px 85px;
	}
	75% {
		box-shadow:
			#000 30px 95px,
			#000 40px 100px,
			#000 50px 60px,
			rgba(0,0,0,0) 55px 95px,
			#000 70px 80px,
			#000 80px 70px,
			rgba(0,0,0,0) 110px 120px,
			rgba(0,0,0,0) 90px 110px;
	}
	76% {
		box-shadow:
			#000 30px 95px,
			#000 40px 100px,
			#000 50px 60px,
			rgba(0,0,0,0) 55px 35px,
			#000 70px 80px,
			#000 80px 70px,
			rgba(0,0,0,0) 110px 25px,
			rgba(0,0,0,0) 90px 15px;
	}
	100% {
		box-shadow:
			rgba(0,0,0,0) 30px 120px,
			rgba(0,0,0,0) 40px 120px,
			#000 50px 75px,
			#000 55px 50px,
			#000 70px 100px,
			#000 80px 95px,
			#000 110px 45px,
			#000 90px 35px;
	}
}

.rainbow {
	animation: rainbow 5s ease-in-out infinite;
    border-radius: 170px 0 0 0;
    margin: 0 10em;
	box-shadow: 
		#FB323C -2px -2px 0 1px,
		#F99716 -4px -4px 0 3px,
		#FEE124 -6px -6px 0 5px,
		#AFDF2E -8px -8px 0 7px,
		#6AD7F8 -10px -10px 0 9px,
		#60B1F5 -12px -12px 0 11px,
		#A3459B -14px -14px 0 13px;
	height: 100px;
	width: 100px;
      transform: rotate(40deg);
}
.rainbow:after {
	animation: rainbow_shadow 5s ease-in-out infinite;
	background: #000000;
	border-radius: 50%;
	content: '';
	opacity: 0.2;
	height: 15px;
	width: 120px;
	position: absolute;
	bottom: -23px; 
	left: 17px;
  	transform: rotate(-40deg);
  	transform-origin: 50% 50%;
}
@keyframes rainbow {
	50% { transform: rotate(50deg); }
}
@keyframes rainbow_shadow {
	50% { transform:  rotate(-50deg) translate(10px) scale(.7); opacity: 0.05; }
}

@media screen and (min-width:1000px) {
    .rainbow {
       margin: 0 30rem;

    }}